@using System.Text.Json;
@using PrivateBudget.Client.Models;
@inject IJSRuntime JS

<div class="card">
    <div class="card-header hstack">
        <div>Budget Distribution</div>
    </div>
    <div class="card-body d-flex">

        @if (IncomeCategory == null)
        {
            <div>No income category set.</div>
        }
        else
        {
            <canvas width="500" height="500" id="budget-donut" class="me-5"></canvas>


            

            <ul class="list-group list-group-flush justify-content-center">
                <li class="list-group-item d-flex justify-content-between mb-5" style="border-bottom:none">
                    <div>Total available</div>
                    <ColoredCurrencyComponent CurrencySymbol="'€'" Value="@IncomeCategory.MonthlyBudget"></ColoredCurrencyComponent>
                </li>

                @foreach (var category in Categories?.Where(x => x != null).OrderByDescending(x => x.MonthlyBudget))
                {
                    if (category.Name != IncomeCategory?.Name && category.MonthlyBudget != null)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <CategoryComponent Category="@category" />
                            <ColoredCurrencyComponent CurrencySymbol="'€'" Value="@category.MonthlyBudget" />
                        </li>
                    }
                }
            </ul>
        }


    </div>
</div>

@code {
    [Parameter]
    public List<Category>? Categories { get; set; }

    [Parameter]
    public Category? IncomeCategory { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (Categories == null)
        {
            throw new NullReferenceException("Categories is null.");
        }

        if (IncomeCategory != null)
        {
            decimal totalIncome = Categories.Find(x => x.Name == IncomeCategory.Name)?.MonthlyBudget ?? 1;
            var dict = new Dictionary<string, decimal>();


            foreach (var category in Categories)
            {
                if (category.Name != IncomeCategory.Name)
                {
                    if (category.MonthlyBudget != null)
                    {
                        dict.Add(category.Color, ((category.MonthlyBudget ?? 0) / totalIncome));
                    }
                }
            }


            dict = dict.OrderByDescending(x => x.Value).ToDictionary(x => x.Key, y => y.Value);


            await JS.InvokeVoidAsync(
                "createDonutChart",
                "#budget-donut",
                0.3,
                JsonSerializer.Serialize(dict)
            );
        }
    }
}
